/**
 * bg & color 背景 颜色
 */
@each $main, $colors in $--Colors {
    @each $key, $color in $colors {
        @if($key == 500){
            .bg-#{$main} {
                background-color: $color;
            }
            .color-#{$main}{
                color: $color;
            }
        }@else{
            .bg-#{$main}#{$key} {
                background-color: $color;
            }
            .color-#{$main}#{$key}{
                color: $color;
            }
        }
    }
}